*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc-chisel/**
!/npc-chisel-soc/**
!/icachesim/**
!Makefile
!README.md
!.gitignore
!init.sh
# !/fceux-am/*
# !/nvboard/*
# !/am-kernels/*
# !/abstract-machine/*
# !/c_exp/*
# !/digital_circuit_exp/*
# !/ysyxSoC/*
