# *.*
# *
# !*/
# !/nemu/*
# !/nexus-am/*
# !/nanos-lite/*
# !/navy-apps/*
# !/npc/*
# !/patch/*
# !/npc-chisel/**
# !/npc-chisel-soc/**
# !/icachesim/**
# !/ppa_opt/**
# !Makefile
# !README.md
# !.gitignore
# !init.sh
# npc-chisel-soc/single_cycle_riscv32i/build/*.fst
# npc-chisel-soc/single_cycle_riscv32i/out/mill-launcher/0.11.5.jar
# npc-chisel/single_cycle_riscv32i/out/mill-launcher/0.12.8.jar
# !/fceux-am/*
# !/nvboard/*
# !/am-kernels/*
# !/abstract-machine/*
# !/c_exp/*
# !/digital_circuit_exp/*
# !/ysyxSoC/*
/ysyxSoC/
/rt-thread-am/
/am-kernels/
/nvboard/
/riscv-arch-test-am/

/npc/Makefile_old
/npc/build/*
/npc/out/*
# /npc/riscv32-nemu-interpreter-so_20250602